@import "./fonts/fonts.css";

/* General Styles */

:root {
    --light-blue: rgb(73, 143, 205);
    --dark-blue: rgb(25, 35, 54);
}

html {
    overflow-x: hidden;

}

body {
    font-family: "Nunito";
    font-size: 16px;
    background-color: rgba(153, 153, 153, 0.05);
}

.calculator-body {
    padding: 2% 5%;
    margin: auto;
    text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Custom Scrollbars */

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--light-blue);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--dark-blue);
}

.input-to-edit {
    border: 3px solid var(--light-blue);
    color: var(--dark-blue);
    font-weight: 700;
}

input {
    text-align: center;
}

input:focus {
    box-shadow: none !important;
    border: none;
    color: var(--light-blue) !important;
}

select:focus {
    box-shadow: none !important;
    border: none;
    color: var(--light-blue) !important;
}

select option {
    color: var(--dark-blue);
    font-weight: 400;
}

.input-to-edit:focus {
    border: 2px solid var(--dark-blue);
    box-shadow: 3px 3px 10px rgba(97, 97, 97, 0.4) !important;
    font-weight: 800;
    letter-spacing: 1px;
}

button:focus,button:active {
    outline: none !important;
    box-shadow: none !important;
 }


/* Calculator Heading */
.calculator-heading>img {
    width: 40%;
}

.calculator-heading {
    box-shadow: 8px 8px 8px rgba(25, 35, 54, 0.15);
    border-radius: 5px;
    padding: 2% 5%;
    background-color: white;
    b
}

.calculator-heading > .divider-line {
    width: 40%;
    height: 3px;
    background-color: var(--light-blue);
    margin: 1rem auto;
}

.calculator-heading ul {
    list-style: none;
    padding-left: 0;
}

.calculator-heading ul li {
    padding: 5px 0;
}

.calculator-heading > ul p {
    font-weight: 700;
    font-size: 1.2rem;
}

/* Income Tax + Paye Container */
.income-paye-container {
    background-color: var(--light-blue);
    color: white;
    margin: 50px 0;
    padding: 2% 5%;
    box-shadow: 8px 8px 8px rgba(25, 35, 54, 0.15);
    border-radius: 5px;
}

.income-paye-container h2 {
    /* text-decoration: underline white; */
    font-weight: 600;
    font-size: 2rem;
    color: white
}

.income-paye-container .form-group {
    margin: 20px auto !important;
}

.income-paye-container .form-group input {
    font-size: 1.1rem;
}

#input-taxable-income {
    border: 2px solid var(--dark-blue);
}

.income-paye-container label {
    font-size: 1.1rem;
}

/* Expenses Container */

.without-SF-container {
    padding: 0 5%;
}

.without-SF-container input {
    display: block;
    margin: auto;
    margin: 1rem auto;
    color: var(--dark-blue);
    font-weight: 600;
    font-size: 1.2rem;
}

.ed-expenses-container {
    padding-top: 50px;
}

.ed-expenses-container .form-row {
    padding: 10px 10px 0 10px;
    margin: 20px 0;
    box-shadow: 8px 8px 8px rgba(25, 35, 54, 0.15);
    border-radius: 5px;
}

.ed-expenses-container .form-row label {
    font-weight: 600;
}

.ed-expenses-container .form-row:nth-child(odd) {
    background-color: rgba(153, 153, 153, 0.05);
}

.beneficiary-number {
    font-weight: 600;
}

.beneficiary-row {
    background-color: white;
}

.add-beneficiary-btn {
    background-color: var(--light-blue);
    color: white;
    border: 2px solid transparent;
    margin: 20px auto;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: 0.5s;
}

.add-beneficiary-btn:hover {
    background-color: var(--dark-blue);
}

.clicked-once {
    border: 2px solid;
    background-color: white;
    color: var(--light-blue);
}

.clicked-once:hover {
    color: white;
}

.remove-beneficiary-btn {
    transition: 0.5s;
}
.remove-beneficiary-btn:hover {
    background-color: #FF2400;
    color: white;
    border: 1px solid #FF2400;
    font-weight: 600;
}

.ed-expenses-container .form-row:nth-child(2) .remove-beneficiary-container {
    display: none;
}

/* Total Row */

.total-row {
    background-color: var(--dark-blue);
    color: white;
    padding: 10px;
}

.total-row input {
    background-color: white !important;
    font-weight: 700;
    text-align: center;
    color: var(--dark-blue);
    font-size: 1.1rem;
}

/* Buttons */
.calculate-btn {
    background-color: var(--dark-blue);
    color: white;
    border: none;
    margin: 20px auto;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s;
}

.calculate-btn:hover {
    background-color: var(--light-blue);
    transform: scale(1.1);
}

.reset-btn {
    background-color: transparent;
    color: var(--dark-blue);
    border: 2px solid var(--dark-blue);
    text-align: center;
    margin: 20px auto !important;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 600;
    transition: 0.5s;
    margin-left: 20px;
}
.reset-btn:hover {
    border: 2px solid var(--light-blue);
    background-color: var(--light-blue);
    color: white
}

.reset-container {
    text-align: center;
    display: flex;
    justify-content: center !important;
}


/* With SF Container */

.with-SF-container {
    padding: 2% 10%;
    border-radius: 10px;
    box-shadow: 8px 8px 8px rgba(25, 35, 54, 0.15);]
    background-color: white;
}

.with-SF-container h2 {
    font-weight: 600;
    font-size: 2rem;
    color: var(--dark-blue);
}

.with-SF-container > div  {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 5px;
}

.with-SF-container > div {
    border-bottom: 1px solid var(--light-blue);
}

.with-SF-container > div:nth-child(5) {
    border-bottom: 3px solid var(--light-blue);
    margin-bottom: 10px;
}

.savings-container {
    border: 3px solid var(--dark-blue) !important;
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px 5px !important;
}

.savings-calculated {
    background-color: var(--dark-blue);
    color: white;
}

.savings-container h4:nth-child(2) {
    text-align: center ;
}

.with-SF-container > div h5 {
    text-align: left;
    margin: 0;
}

.with-SF-container > div h4 {
    text-align: left;
    margin: 0;
    font-weight: 600;
}

.with-SF-container > div h6 {
    margin: 0;
    font-weight: 600;
    font-size: 1.1rem;
}

.with-SF-container > div:nth-child(6) h5,
.with-SF-container > div:nth-child(7) h5,
.with-SF-container > div:nth-child(8) h5 {
    font-weight: 700;
}

.with-SF-container > div:nth-child(6) h6,
.with-SF-container > div:nth-child(7) h6,
.with-SF-container > div:nth-child(8) h6 {
    font-weight: 700;
}

.with-SF-container p {
    font-size: 1.2rem;
    font-weight: 600;
}


/* footer */

.footer {
    text-align: center;
    padding-top: 2%;
}